<div>
  <label class="w3-medium w3-margin-0" style="padding:18px 20px;">Pole T-Shirt Size Chart</label>
  <table class="full responsive-table1 table-border-liter-blue text-center w3-padding-0 w3-margin-0">
    <thead>
      <tr class="w3-small">
        <th>Size</th>
        <th>MD</th>
        <th>LG</th>
        <th>XL</th>
        <th>2XL</th>
        <th>3XL</th>
      </tr>
    </thead>
    <tbody>
      <tr class="w3-small">
        <td>Chest</td>
        <td>38-40</td>
        <td>42-44</td>
        <td>46-48</td>
        <td>50-52</td>
        <td>54-56</td>
      </tr>
      <tr class="w3-small">
        <td>Sleeve</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
      </tr>
      <tr class="w3-small">
        <td>Neck</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
      </tr>
    </tbody>
  </table>
	
  <div style="padding:18px 20px;">
    <label class="w3-medium">Measurement Guidelines</label>
    <p class="w3-small">
      <b>Chest</b><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
	
    <p class="w3-small">
      <b>Sleeve Length</b><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
	
    <p class="w3-small">
      <b>Neck Circumference</b><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>
  </div>
</div>