<div class="shipping-alert-banner" style="background-color: {{ settings.color_footer_bg }}; position: relative;">
  <b>Notice of Shipping Delay:</b> We will be performing an inventory review from Monday 11/12 thru Friday 11/16. During this time, the Blue Team Shop will have delays on shipping non-essential items. 
  <br>Orders for Field T-Shirts will be unaffected during this time period. For any questions, please reach out to <a class="w3-bold w3-text-white" href="mailto:BTRCustomerService@lapineinc.com"><u>BTRCustomerService@lapineinc.com</u></a>. We apologize for the inconvenience.
  <span style="position:absolute; top: calc(50% - 15px); right: 37px; cursor: pointer;" onclick="$(this).parent().hide();"><i class="fa fa-times fa-2x"></i></span>
</div>